@import "tailwindcss";

:root {
  --background: #f8fafc; /* Clean, soft off-white */
  --foreground: #0f172a; /* Deep slate for high contrast */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}